In [2]:
import dataset

In [3]:
# connecting to a SQLite database
db = dataset.connect('sqlite:///../data/example.db')

In [4]:
db.tables

['peop', 'people']

In [5]:
people_table = db["people"]

In [6]:
people_table.columns

['Index',
 'User Id',
 'First Name',
 'Last Name',
 'Sex',
 'Email',
 'Phone',
 'Date of birth',
 'Job Title']

In [8]:
# read all the data at once
people = list(people_table.all())
len(people)

2000000

In [9]:
people[0]

OrderedDict([('Index', '1'),
             ('User Id', '4defE49671cF860'),
             ('First Name', 'Sydney'),
             ('Last Name', 'Shannon'),
             ('Sex', 'Male'),
             ('Email', 'tvang@example.net'),
             ('Phone', '574-440-1423x9799'),
             ('Date of birth', '2020-07-09'),
             ('Job Title', 'Technical brewer')])

In [11]:
alvarezes = [p for p in people if p["Last Name"] == "Alvarez"]

In [12]:
len(alvarezes)

1872

In [13]:
# line-by-line, don't read all at once
people = people_table.all()
n_alv = 0
for p in people:
    if p["Last Name"] == "Alvarez":
        n_alv = n_alv + 1
print(n_alv)

1872

In [16]:
# line-by-line, don't read all at once
names = []
for p in people_table.all():
    if p["Last Name"] == "Alvarez":
        item = {}
        for field in ["First Name", "Last Name",'Date of birth']:
            item[field] = p[field]
        names.append(item)
print(len(names), names[0:3])

1872 [{'First Name': 'Aaron', 'Last Name': 'Alvarez', 'Date of birth': '1976-10-24'}, {'First Name': 'Kendra', 'Last Name': 'Alvarez', 'Date of birth': '1919-06-04'}, {'First Name': 'Tanner', 'Last Name': 'Alvarez', 'Date of birth': '2003-06-15'}]

In [18]:
alvarezes = [{
                "First Name":p["First Name"],
                "Last Name":p["Last Name"],
             } for p in people_table.all() if p["Last Name"] == "Alvarez"]
len(alvarezes), alvarezes[0:3]

(1872,
 [{'First Name': 'Aaron', 'Last Name': 'Alvarez'},
  {'First Name': 'Kendra', 'Last Name': 'Alvarez'},
  {'First Name': 'Tanner', 'Last Name': 'Alvarez'}])